<% include components/header.ejs %>

<div class="container">
    <h3>Add plant</h3>
    <%= typeof msg != 'undefined' ? msg : '' %>
    <div class="row">
        <form class="col s12" action="/upload" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="input-field col s12">
                    <input name="name" id="name" type="text" class="validate" required>
                    <label for="name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="description" id="description" class="materialize-textarea" required></textarea>
                    <label for="description">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="price" id="price" type="number" step="0.01" required>
                    <label for="price">Price</label>
                </div>
            </div>
            <div class="row">
                <div class="file-field input-field col s12">
                    <div class="btn grey">
                        <span>File</span>
                        <input name="myImage" type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="No file attached">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <button type="submit" class="btn">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<% include components/footer.ejs %>