<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <title>Node File Uploads</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo center">Tanaman Indah REST</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="sass.html">Home</a></li>
                <li><a href="badges.html">Add</a></li>
                <li><a href="collapsible.html">View</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h3>Add plant</h3>
        <%= typeof msg != 'undefined' ? msg : '' %>
        <div class="row">
            <form class="col s12" action="/upload" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="input-field col s12">
                        <input name="name" id="name" type="text" class="validate" required>
                        <label for="name">Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea name="description" id="description" class="materialize-textarea" required></textarea>
                        <label for="description">Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input name="price" id="price" type="number" step="0.01" required>
                        <label for="price">Price</label>
                    </div>
                </div>
                <div class="row">
                    <div class="file-field input-field col s12">
                        <div class="btn grey">
                            <span>File</span>
                            <input name="myImage" type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="No file attached">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img">
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

</html>