<% include components/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-content">
                    <h3>Plant Store API</h3>
                    <p>Tanaman indah API is simple but robust interface to process the backend of Tanaman indah
                        application</p>
                    <br>
                    <div class="divider"></div>
                    <div class="section">
                        <h4>REST API</h4>
                        <p>Tanaman indah API consists of the followings</p>
                        <blockquote>
                            <h5>Plants ( '/plant' )</h5>
                            <ul class="collection">
                                <li class="collection-item"><b>Post</b> ( request: <code>body</code>, response:
                                    <code>single json object</code> )</li>
                                <li class="collection-item"><b>Put</b> ( request: <code>params</code>, response:
                                    <code>single json object</code> )</li>
                                <li class="collection-item"><b>Get</b> ( request: <code>-</code>, response: <code>json
                                        objects</code> )</li>
                                <li class="collection-item"><b>Get</b> ( request: <code>params</code>, response:
                                    <code>single json object</code> )</li>
                            </ul class="collection">
                        </blockquote>
                        <blockquote>
                            <h5>Feedback ( '/feedback' )</h5>
                            <ul class="collection">
                                <li class="collection-item"><b>Post</b> ( reqest: body, response: <code>single json
                                        object</code> )</li>
                                <li class="collection-item"><b>Get</b> ( request: <code>.</code>, response: <code>json
                                        objects</code> )</li>
                                <li class="collection-item"><b>Get</b> ( request: <code>params</code>, response:
                                    <code>single json object</code> )</li>
                                <li class="collection-item"><b>Delete</b> ( request: <code>params</code>, response:
                                    <code>single json object</code> )</li>
                            </ul>
                        </blockquote>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <h4>Admin view route</h4>
                        <blockquote>
                            <ul class="collection">
                                <li class="collection-item"><code>/</code> home page (index)</li>
                                <li class="collection-item"><code>/add</code> add plant page (add)</li>
                                <li class="collection-item"><code>/view</code> view plant page (view)</li>
                            </ul>
                        </blockquote>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <h4>Thats it</h4>
                        <p>Enjoy</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include components/footer.ejs %>